@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(/login/bg.jpg) no-repeat; */
  background-size: cover;
}
.login-box p{
  color: #000;
}

.login-box{
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

/* .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.login-box h1{
  position: center;
  font-size: 40px;
  text-decoration: black;
  margin-bottom: 30px;
  padding: 13px 0;
  list-style: none;
}

.main-header a:link{
  text-decoration: none;
  cursor: pointer;
}

.logo {
  /* float: left; */
  width: 150px;
  height: auto;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 17px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #000;
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.main-header{
  text-align: center;
}

.btn{
  width: 100%;
  background-color: #ffbd23;
  color: white;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0;
  border-style: none;
  border-radius: 5px;
}
